<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Restock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div scrolly="true" style="max-height: 40%; margin-bottom: 10px">
    <ion-item style="margin-left: -20px; padding: 0%">
      <ion-grid style="padding: 0%">
        <ion-row style="padding: 0%">
          <ion-col
            style="margin-left: 20px; padding: 0%"
            class="ion-text-center"
          >
            <b>Name</b>
          </ion-col>
          <ion-col
            style="padding: 0%; padding-left: 20px"
            class="ion-text-center"
          >
            <b>Qty</b>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-list style="padding: 0%">
      <app-product
        *ngFor="let product of getProducts()"
        [product]="product"
        (selected)="productSelected($event)"
        [detailedInfo]="false"
      ></app-product>
    </ion-list>
  </div>

  <h4 *ngIf="!currentSelection" style="margin-top: 20px; margin-left: 20px;"><i>select a Product</i></h4>

  <div *ngIf="currentSelection">
    <ion-card-header style="margin-bottom: -20px; margin-left: 10px;">
      <ion-card-subtitle>Restocking</ion-card-subtitle>
      <ion-card-title>{{currentSelection.name}}</ion-card-title>
      <ion-card-content style="margin-left: -10px; margin-top: -10px">
        Qty: {{currentSelection.qty}} ➔ {{currentSelection.qty + (this.quantity
        ? this.quantity : null)}}<br />
        Restock: {{this.quantity}}
      </ion-card-content>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-item style="margin-left: 10px;">
      <ion-label position="floating">Enter Quantity</ion-label>
      <ion-input [(ngModel)]="quantity" type="number" clearInput></ion-input>
    </ion-item>
    <div style="padding-left: 20px; padding-top: 30px; padding-right: 10px">  
      <ion-button (click)="restockConfirmClicked()" fill="solid" shape="round">
        <b>Restock</b>
      </ion-button>
      <ion-button
        (click)="cancelClicked()"
        fill="outline"
        color="dark"
        shape="round"
      >
        <b>Cancel</b>
      </ion-button>
    </div>
  </div>
</ion-content>
