  <ion-header>
    <ion-toolbar>
      <ion-title> Cash Register App </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div scrolly="true" style="max-height: 40%">
      <ion-list style="padding: 0%">
        <ion-item style="margin-left: -20px" >
          <ion-grid>
            <ion-row>
              <ion-col style="margin-left: 20px" class="ion-text-center">
                <b>Name</b>
              </ion-col>
              <ion-col style="margin-left: 30px" class="ion-text-center">
                <b>Qty</b>
              </ion-col>
              <ion-col style="margin-left: 30px" class="ion-text-center">
                <b>Price</b>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <app-product
          *ngFor="let product of getProducts()"
          [product]="product"
          (selected)="productSelected($event)"
          [detailedInfo]="true"
        ></app-product>
      </ion-list>
    </div>

    <ion-grid style="padding-top: 20px; padding-bottom: 10px">
      <ion-row>
        <ion-col class="ion-text-center">
          <b>{{type}}</b>
        </ion-col>
        <ion-col class="ion-text-center">
          <b>{{quantity}}</b>
        </ion-col>
        <ion-col class="ion-text-center">
          <b>{{total}}</b>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid
      size="auto"
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
      "
    >
      <ion-row size="auto" style="padding: 0">
        <ion-col size="auto" style="padding: 0">
          <ion-grid size="auto">
            <ion-row
              *ngFor="let x of [].constructor(3); let i = index"
              size="auto"
              style="padding: 1px"
            >
              <ion-col
                *ngFor="let y of [].constructor(3); let j = index"
                size="auto"
                style="padding: 1px"
              >
                <ion-button
                  shape="round"
                  color="dark"
                  fill="outline"
                  size="large"
                  (click)="press(3*i+j+1)"
                  >{{3*i+j+1}}</ion-button
                >
              </ion-col>
            </ion-row>
            <ion-row size="auto" style="padding: 1px">
              <ion-col size="auto" style="padding: 1px">
                <ion-button
                  shape="round"
                  fill="outline"
                  style="visibility: hidden"
                  size="large"
                  >0</ion-button
                >
              </ion-col>
              <ion-col size="auto" style="padding: 1px">
                <ion-button
                  shape="round"
                  color="dark"
                  fill="outline"
                  size="large"
                  (click)="press(0)"
                  >0</ion-button
                >
              </ion-col>
              <ion-col size="auto" style="padding: 1px">
                <ion-button
                  shape="round"
                  color="medium"
                  fill="outline"
                  size="large"
                  (click)="press(-1)"
                  style="width: 55px"
                  >⌫</ion-button
                >
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col style="padding: 0px">
          <ion-row style="margin-top: 10px; padding: 1px">
            <ion-button
              color="tertiary"
              routerLink="/manage"
              fill="solid"
              shape="block"
              style="width: 90px; height: 60px; --border-radius: 10px"
            >
              <b>Manage</b>
            </ion-button>
          </ion-row>
          <ion-row style="padding: 1px">
            <ion-button
              color="success"
              (click)="buyButtonClicked()"
              fill="solid"
              style="width: 90px; height: 120px; --border-radius: 10px"
            >
              <b>Buy</b>
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
