<ion-header [translucent]="true" collapse="condense">
  <ion-toolbar>
    <ion-title> Cash Register App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list style="margin-top: 10px;">
    <ion-item style="margin-left: -15px;">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center"> Name </ion-col>
          <ion-col class="ion-text-center"> Qty </ion-col>
          <ion-col class="ion-text-center"> Price </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <app-product
      *ngFor="let product of getProducts()"
      [product]="product"
      (selected)="productSelected($event)"
    ></app-product>
  </ion-list>

  <ion-grid style="margin-top: 20px">
    <ion-row>
      <ion-col class="ion-text-center" style="font-style: italic">
        {{type}}
      </ion-col>
      <ion-col class="ion-text-center" style="font-style: italic">
        {{quantity}}
      </ion-col>
      <ion-col class="ion-text-center" style="font-style: italic">
        {{total}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row *ngFor="let x of [].constructor(3); let i = index">
      <ion-col *ngFor="let y of [].constructor(3); let j = index" size="2.5">
        <ion-button
          shape="round"
          color="dark"
          fill="outline"
          size="large"
          (click)="press(3*i+j+1)"
          >{{3*i+j+1}}</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="2.5" size="2.5">
        <ion-button
          shape="round"
          color="dark"
          fill="outline"
          size="large"
          (click)="press(0)"
          >0</ion-button
        >
      </ion-col>
      <ion-col size="2.5">
        <ion-button shape="round" color="light" size="large" (click)="press(-1)"
          >⌫</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
